  body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .dropbtn {
    
    padding: 16px;
    font-size: calc(12px+0.5vw);
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
 h4{
    font-family: 'IM Fell Double Pica', serif;
    font-size: calc(16px+2vw);
  }
  .dropdown {
    position: relative;
    display: inline-block;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logos{
    width: calc(8px+0.5vw);
    height:calc(8px+0.5vw);
  }
  h1,h2,h3{
      text-align: center;
      color:white;
      font-weight: bold;
      text-shadow: 2px 2px 4px #000000;
  }
  hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
   margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
  }
  #phone{
    margin-top: 1%;
  }
  #mail{
    margin-top:1%;
  }
  .container1 {
    width: 100%; 
  }
  
  .skills {
    text-align: right;
    padding: 10px;
    color: white;
  }
  .html {width:90%; background-color: #808080;}
  .css {width:80%; background-color: #808080;}
  .js {width:60%; background-color: #808080;}
  .as {width:40%; background-color: #808080;}
  .sql {width:40%; background-color: #808080;}
  .java{width:78%; background-color: #808080;}

  .collapsible {
    border-radius: 16px;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    outline: none;
    font-size: calc(1px+0.5vw);
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    font-size: calc(10px + 0.5vw);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .tital{
    font-weight: 580;
    font-size: calc(20px+1vw);
  }
    #resume{
      padding: 0 5%;
      margin: 5% 2% 2% 2%;
      font-size: calc(14px+1vw);
    }
    #header{
      background-image: url("header6.jpg");
      max-width: 100%;
      height:600px;
      border: 1px solid #333;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;     
      background-size: cover; 
    }

    @media only screen and (min-width: 479px){
      #header{
        background-image: url("header4.jpg");
        max-width: 100%;
        height:900px;
        border: 1px solid #333;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;     
        background-size: cover; 
      }
    }

  #me{
    border: 5px solid white;
    margin-left: 20%;
    border-radius: 12px;
    height:auto;
    max-width: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  #info{
    font-size: calc(10px + 0.5vw);
    text-align: center;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  #social{
      text-align: center;
  }
  #about{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #DE845F;
    text-align:center;
    color:white;
    border: 1px solid white;
  }
  #career{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #DE845F;
    text-align:center;
    font-size: calc(10px + 0.5vw);
    color:white;
    border: 1px solid white;
  }
  #projects{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #333;
    text-align:center;
    font-size: calc(10px + 0.5vw);
    color:white;
    border: 1px solid white;
  }
  #skills{
    background-color: #333;
    font-size: calc(10px + 0.5vw);
    color:white;
    border: 1px solid white;
  }
  #contact{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #DE845F;
    text-align:center;
    font-size: calc(10px + 0.5vw);
    color:#333;
    border: 1px solid white;
  }
 
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

