html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  body {

    font-family: 'Noto Sans KR', sans-serif;
    border: 2px solid white;
  }
  .dropbtn {
    
    padding: 16px;
    font-size: calc(12px+0.5vw);
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
 h4{
    font-family: 'IM Fell Double Pica', serif;
    font-size: calc(16px+2vw);
  }
  .dropdown {
    position: relative;
    display: inline-block;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display: block;}
  h1{
    text-align: center;
      color:#1ABC9C;
      text-shadow:2px 2px black;
      font-weight: bold;
  }
  h2{
      text-align: center;
      color:#1ABC9C;
      font-weight: bold;
      text-shadow: 1px 1px black
  }
  h3{
    text-align: center;
      color: black;
      font-weight: bold;
  }
  #motto{
    font-size: calc(8px+1vw);
  }
  @media only screen and (max-width:375px){
    #motto{
      font-size: 14px;
    }
    h1{
      text-align: center;
      color:#1ABC9C;
      text-shadow:2px 2px black;
      font-weight: bold;
      font-size:1.5em;
    }
  }
  .c_line{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
   margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
  }
  hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
   margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
  }
  #phone{
    margin-top: 1%;
  }
  #mail{
    margin-top:1%;
  }
  .container1 {
    width: 100%; 
  }
  
  .skills {
    text-align: right;
    padding: 10px;
    color: white;
  }
  .html {width:90%; background-color: #808080;}
  .css {width:80%; background-color: #808080;}
  .js {width:60%; background-color: #808080;}
  .as {width:40%; background-color: #808080;}
  .sql {width:40%; background-color: #808080;}
  .java{width:78%; background-color: #808080;}

  .collapsible {
    border-radius: 16px;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    outline: none;
    font-size: calc(1px+0.5vw);
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    font-size: calc(10px + 0.5vw);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .tital{
    
    font-size: calc(20px+1vw);
    text-shadow: 1px 1px black;
    color: #1ABC9C;
  }
    #resume{
      text-shadow:0.5px 1px black;
      padding: 0 5%;
      color: #333;
      font-weight: bold;
      font-size: calc(14px+1vw);
      margin-bottom:5%;
  
    }
    #header{
      background-image: url("header8.jpg");
      max-width: 100%;
      height:600px;
      border: 1px solid #333;
      background-repeat: no-repeat;
     
      background-position: center;     
      background-size: cover; 
    }

    @media only screen and (min-width: 479px){
      #header{
        background-image: url("header7.jpg");
        max-width: 100%;
        height:900px;
        border: 1px solid #333;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;     
        background-size: cover; 
      }
    }

  #me{
    border: 5px solid white;
    margin-left: 20%;
    border-radius: 12px;
    height:auto;
    max-width: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  #info{
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  #social{
      text-align: center;
  }
  #h_about{
    color:#1ABC9C;
  }
  #about{
    align-content: center;
    text-align: center;
    max-width : 100%;
    height: auto;
    background-color: #e6e6e6;
    color:#333;
    border: 1px solid white;
    padding-right: 5%;
    padding-left: 5%;
    font-size: calc(10px + 0.5vw);
  }
  #career{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #e6e6e6;
    text-align:left;
    font-size: calc(10px + 0.5vw);
    color:#333;
    border: 1px solid white;
    padding-right: 5%;
    padding-left: 5%;
    
  }
  #projects{
    align-content: center;
    max-width : 100%;
    height: auto;
    background-color: #333;
    text-align:center;
    font-size: calc(10px + 0.5vw);
    color:white;
    border: 1px solid white;
    padding-right: 5%;
    padding-left: 5%;
  }
  #skills{
    background-color: #333;
    font-size: calc(10px + 0.5vw);
    color:white;
    border: 1px solid white;
    padding-right: 10%;
    padding-left: 10%;
  }
  #contact{
    align-content: right;
    max-width : 100%;
    height: auto;
    background-color:#e6e6e6;
    text-align:center;
    font-size: calc(10px + 0.5vw);
    color:#333;
    border: 1px solid white;
  }
  .c_form{
    align-content: center
  }
  .rightside{
    font-size: calc(8px + 0.5vw);
    text-align: left;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

